{% extends 'base_w_header.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {{ component('alert-container') }}

    <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
        <div class="px-4 py-5 text-center">
            <h1 class="display-5 fw-bold">{{ app.user.username }}</h1>
            <p class="lead">{{ app.user.email }}</p>
            <p>You created {{ app.user.configurations|length }} configurations.</p>
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="{{ path('app_configuration_type') }}">
                Edit
            </a>
        </div>
    </div>
{% endblock %}
