{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="user py-5 bg-light">
        <div class="container">
            <h1>Register</h1>
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="row g-3">
                <div class="col-md-12">
                    {{ form_row(registrationForm.username) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.plainPassword.first) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>
                <div class="col-md-12 text-end">
                    <a href="{{ path('app_login') }}" class="btn btn-lg btn-outline-primary">Login</a>
                    <button type="submit" class="btn btn-lg btn-primary">Register</button>
                </div>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
