<tr id="configuration-{{ this.user.id }}">
    <td><a href="{{ path('app_user_profile', {
            username: this.user.username
        }) }}">{{ this.user.id }}</a></td>
    <td>
        <div class="col-2 text-truncate" style="max-width: 15rem; min-width: 15rem">
            {{ this.user.username }}
        </div>
    </td>
    <td>
        <div class="col-2 text-truncate" style="max-width: 15rem; min-width: 15rem">
            {{ this.user.email }}
        </div>
    </td>
    <td>{{ this.user.createdAt|date('d.m.Y H:i:s') }}</td>
    <td>{{ this.user.updatedAt|date('d.m.Y H:i:s') }}</td>
    <td class="text-end">
        <a class="btn btn-outline-primary" href="{{ path('app_configuration_user_list', {
            username: this.user.username
        }) }}">
            Configurations
        </a>
        <a class="btn btn-primary" href="{{ path('app_user_edit', {
            username: this.user.username
        }) }}">
            Edit
        </a>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ this.targetModalId }}"
                data-action="{{ path('app_user_delete', {
                    username: this.user.username
                }) }}">
            Delete
        </button>
    </td>
</tr>
