<tr id="configuration-{{ configuration.id }}">
    <td><a href="{{ path('app_configuration_load', {
            slug: configuration.slug,
            page: constant('App\\Controller\\ConfigurationController::PAGE_SUMMARY')
        }) }}">{{ configuration.id }}</a></td>
    <td>
        <div class="col-2 text-truncate" style="max-width: 20rem; min-width: 20rem">
            {{ configuration.name }}
        </div>
    </td>
    <td>
        <div class="ratio ratio-16x9">
            <img src="{{ asset("build/images/configurator/types/#{configuration.type}.png") }}"
                 alt="{{ configuration.type }}" class="rounded">
        </div>
    </td>
    <td>
        <div class="ratio ratio-16x9">
            <div class="rounded text-center"
                 style="background-color: {{ configuration.hexColor }}"
                 data-bs-toggle="tooltip" data-bs-placement="top"
                 data-bs-title="{{ configuration.hexColor }}"></div>
        </div>
    </td>
    <td>{{ configuration.createdAt|date('d.m.Y H:i:s') }}</td>
    <td>{{ configuration.updatedAt|date('d.m.Y H:i:s') }}</td>
    <td class="text-end">
        <a class="btn btn-primary" href="{{ path('app_configuration_load', {
            slug: configuration.slug
        }) }}">
            Edit
        </a>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ modal.id }}"
                data-action="{{ path('app_configuration_delete', {
                    slug: configuration.slug
                }) }}">
            Delete
        </button>
    </td>
</tr>
