{% extends 'base_w_header.html.twig' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block body %}
    {{ component('AlertContainer') }}

    <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
        <div class="px-4 py-5 text-center">
            <h1 class="display-5 fw-bold">{{ user.username }}</h1>
            <p class="lead">{{ user.email }}</p>
            <p>You created {{ user.configurations|length }} configurations.</p>
            <div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a type="button" class="btn btn-outline-primary btn-lg px-4 gap-3"
                       href="{{ path('app_configuration_user_list', {
                           username: user.username
                       }) }}">
                        Configurations
                    </a>
                {% endif %}
                <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="{{ path('app_configuration_type') }}">
                    Edit
                </a>
            </div>
        </div>
    </div>
{% endblock %}
