{% extends 'base_w_header.html.twig' %}

{% block title %}
    Configurator - Choose your type
{% endblock %}

{% block body %}
    <div class="container">
        <h1>What type of car do you want</h1>
        <form name="configureTypeForm" class="my-5" method="post" action="{{ path('app_configuration_type') }}">
            <div class="row g-3">
                {% for type in carTypes %}
                    <div class="col-md-3 text-center">
                        <label>
                            <input type="radio" name="carType" value="{{ type.value }}" class="rounded"
                                {% if type.value is same as carType.value %} checked {% endif %}>
                            <img src="{{ asset("build/images/configurator/types/#{type.value}.png") }}"
                                 alt="{{ type.value }}" class="rounded">
                        </label>
                    </div>
                {% endfor %}
                <div class="col-md-12">
                    {% for key, flashes in app.flashes %}
                        {% for message in flashes %}
                            <div class="alert alert-{{ key }} alert-dismissible fade show">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_index_index') }}" class="btn btn-lg btn-primary">Back</a>
                        <button type="submit" class="btn btn-lg btn-primary">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
