{% extends 'base.html.twig' %}

{% block title %}
    Configurator - Choose your type
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row g-3">
            <div class="col-md-12">
                <h1>What type of car do you want</h1>
            </div>
            {% for type in carTypes %}
                <div class="col-md-3 text-center">
                    <label>
                        <input type="radio" name="carType" value="{{ type.value }}"
                            {% if type.value is same as carType.value %} checked {% endif %}>
                        <img src="{{ asset("build/images/configurator/types/#{type.value}.png") }}" alt="{{ type.value }}">
                    </label>
                </div>
            {% endfor %}
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_index_index') }}" class="btn btn-primary">Back</a>
                    <a href="{{ path('app_configuration_color', {
                        carType: carType.value
                    }) }}" class="btn btn-primary">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
